.detailTitle {
  text-decoration: underline; }

.employeeDetail {
  background-color: lightgrey;
  padding: 10px;
  padding-left: 20px; }

.employeeHome {
  display: inline-block; }

.feedbackHeader {
  color: orange;
  padding-bottom: 4%; }

.subjectField {
  padding-bottom: 0.5%; }

.container {
  text-align: center; }

.subjectField {
  margin-bottom: 4%; }

.header {
  display: flex;
  position: relative; }

.quickLinks {
  background-color: lightgrey;
  margin-left: 10px;
  padding: 10px;
  text-align: center; }
