.employeeDetail {
  color: #262626;
  font-family: "Source Sans Pro", Sans-serif;
  background-color: #ededed;
  padding: 1%;
  padding-left: 2%;
  height: 70vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4); }
  .employeeDetail h3 {
    margin-bottom: 5vh;
    font-weight: 400;
    font-size: 4vh; }
  .employeeDetail h4 {
    font-size: 3vh; }
  .employeeDetail .employeeAttribute {
    font-weight: 300; }
  .employeeDetail .triangle {
    height: 8vh;
    float: right;
    position: absolute;
    right: 2vw;
    top: 1vh; }

.employeeHome {
  display: inline-block;
  width: 100vw; }
  .employeeHome .employeeNameWrapper {
    font-family: "Source Sans Pro", Sans-serif; }
    .employeeHome .employeeNameWrapper h1 {
      font-size: 6vh; }

.container {
  text-align: center;
  font-family: "Source Sans Pro", Sans-serif; }
  .container .feedbackHeader {
    color: #262626;
    padding-bottom: 2%;
    font-size: 6vh; }
  .container .subjectContainer {
    padding-bottom: 1%; }
    .container .subjectContainer .subjectField {
      width: 19vw;
      margin-bottom: 0.5%;
      font-size: 3vh;
      background-color: #f3f3f3; }
  .container .contentField {
    width: 19vw;
    height: 25vh;
    margin-bottom: 1%;
    font-size: 3vh;
    background-color: #f3f3f3; }
  .container .button {
    font-size: 3vh;
    padding: 1%;
    width: 9vw;
    background-color: #262626;
    color: white;
    border: 3px solid #262626; }
    .container .button:hover {
      color: #262626;
      background-color: white; }

.quickLinks {
  color: #262626;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 300;
  background-color: lightgrey;
  margin-left: 8%;
  padding: 2vh;
  text-align: center;
  height: 70vh;
  font-size: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4); }
  .quickLinks h3 {
    font-size: 4vh;
    margin-bottom: 3vh;
    font-weight: 400; }
  .quickLinks p:hover {
    font-weight: 400; }

.feedbackLink {
  color: #262626; }
  .feedbackLink:hover {
    text-decoration: none;
    color: #262626;
    font-weight: 400; }

.inbox {
  margin: 2% 5% 0 5%; }
  .inbox .feedback {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    padding: 1rem;
    background-color: #262626;
    color: #ffff;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1.1em; }
  .inbox .feedbackBody {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    padding: .8rem;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1.1em; }
    .inbox .feedbackBody:hover {
      background-color: #f3f3f3; }
  .inbox .row:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .inbox .toggleButton {
    background-color: #f3f3f3;
    color: #262626;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 1.5%; }
    .inbox .toggleButton:hover {
      background-color: #262626;
      color: #f3f3f3; }
  .inbox .deleteButton {
    background-color: #c10606;
    color: #f3f3f3;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 1.5%; }
    .inbox .deleteButton:hover {
      background-color: #d00505; }
  .inbox .dropdown {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1.1em; }
  .inbox .card {
    text-align: left;
    border: none !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
    margin-top: 1rem !important; }
    .inbox .card-body {
      padding-left: 5% !important; }
