@import 'variables';

.toggleButton {
  background-color: $theoremLightGrey !important;
  color: $theoremBlack !important;
  
  &:hover {
    background-color: $theoremBlack !important;
    color: $theoremLightGrey !important;
  }
}