@import './variables';



.employeeDetail{
  color: $theoremBlack;
  font-family: $theoremFont;
  background-color: $theoremHalfGrey;
  padding: 1%;
  padding-left: 2%;
  height: 60vh;

  h3{
    margin-bottom: 5vh;
    font-weight: 400;
    font-size: 4vh;
  }

  h4{
    font-size: 3vh;
  }

  .employeeAttribute{
    font-weight: 300;
  }
}

.triangle{
  height: 8vh;
  float: right;
  position: absolute;
  right: 2vw;
  top: 1vh;
}