// @import 'variables';

.container{
  text-align: center;
}

.feedbackHeader{
  color: #262626;
  padding-bottom: 2%;
  font-size: 3.5em;
}

.subjectContainer{
  padding-bottom: 1%;

}

.subjectField{
  width: 19vw;
  margin-bottom: 0.5%;
  font-size: 1.5em;
}

.contentField{
  width: 19vw;
  height: 25vh;
  margin-bottom: 1%;
  font-size: 1.5em;
}

.button {
  font-size: 1.5em;
  border-radius: 5px;
  padding: 1%;
  width: 9vw;

}

.button:hover{
  background-color: #262626;
  color: white;
}
