// @import 'variables';

.feedbackHeader{
  color: #262626;
  padding-bottom: 2%;
  font-size: 3.5em;
}

.subjectContainer{
  padding-bottom: 0.5%;

}

.subjectField{
  width: 19vw;
}

.container{
  text-align: center;
}

.contentField{


}
