@import 'variables';

.header{
    text-align: center;
    padding-top: 3%;
    font-size: 3vh;
    text-decoration: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  height: 12vh;
}

.noUnderline{
  text-decoration: none;
  color: #262626;
}
