@import 'variables';

.loginHeader{
  color: #262626;
  padding-bottom: 3%;
  font-size: 4vh;
}


.emailField{
  margin-bottom: 2vh;
  text-align: center;
  font-size: 3vh;
  background-color: $theoremLightGrey;
}

.passwordField{
  margin-bottom: 2vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 3vh;
  background-color: $theoremLightGrey;
}

.loginButton {
  font-size: 2vh;
  margin-top: 1.75vh;
  border-radius: 1vh;
  padding: 1%;
}

.loginButton:hover{
  background-color: #262626;
  color: white;
}