@import 'variables';

.quickLinks{
  color: $theoremBlack;
  font-family: $theoremFont;
  font-weight: 300;
  background-color: lightgrey;
  margin-left: 8%;
  padding: 2vh;
  text-align: center;
  height: 70vh;
  font-size: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7),
  0 6px 20px 0 rgba(0, 0, 0, 0.4);

    h3{
      font-size: 4vh;
      margin-bottom: 3vh;
      font-weight: 400;
    }

    p {
      &:hover {
        font-weight: 400;
      }
    }
}

.feedbackLink{
  color: $theoremBlack;

    &:hover {
      text-decoration: none;
      color: $theoremBlack;
      font-weight: 400;
    }
}