@import 'variables';

.quickLinks{
  color: $theoremBlack;
  font-family: $theoremFont;
  font-weight: 400;
  background-color: lightgrey;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  height: 60vh;

    h3{
      margin-bottom: 3vh;;
    }
}