//variables that are shared amongst various stylesheets belong here (e.g. common theorem site colors)

//add the following line to the top of your .scss file if you plan on using these variables: 
// @import '_variables';

$theoremLightGrey: #f3f3f3;
$theoremHalfGrey: #ededed;

$theoremMediumGrey: #999;
$theoremBlack: #262626;



// Fonts Faimlies
$theoremFont: "Source Sans Pro",Sans-serif;
$theoremAltFont: 'Poppins',sans-serif;